.main-text{
    -webkit-text-stroke: 3px #FF3131;
    position: relative;
}

.main-text::before {
    content: 'Get in Touch';
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: #FF3131;
    border-right: 8px solid #FF3131;
    transition: 1s ease-in-out;
    
 }
 
 .main-text:hover::before{
     width: 101%;
        
 }